.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background-color: #282c34;*/
  height: 44px;
  width: 90%;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  /* color: white; */
  padding: 8px 5%;
  background: #fafafa;
  z-index: 100;
  -webkit-box-shadow: 0px -29px 128px 0px #fafafa;
  -moz-box-shadow: 0px -29px 128px 0px #fafafa;
  box-shadow: 0px -29px 128px 0px #fafafa;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.first-box {
  position: relative;
  height: 98vh;
  width: 100%;
  align-items: flex-end;
  display: flex;
}

.title-main {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  padding: 35vh 5% 5%;
  pointer-events: none;
}

.wide-title {

}

.middle-title {
  display: none;
}

.narrow-title {
  display: none
}

@media only screen and (max-width: 1100px) and (min-width: 730px) {
  .wide-title {
    display: none;
  }

  .middle-title {
    display: block;
  }
}

@media only screen and (max-width: 730px) {

  .wide-title {
    display: none;
  }

  .middle-title {
    display: none;
  }

  .narrow-title {
    display: block
  }

  .subtitle-text {
    font-size: 18px;
  }

}

.big-title-text {
  font-size: 72px;
}

.subtitle-text {
  color: #999999;
  font-weight: 300;
}

.subtitle {
  font-size: 22px;
  color: #afafaf !important;
  font-weight: 300;
  padding-top: 20px;
  text-align: left;
}

.subtitle-arrows {

}


.second-box {
  position: relative;
  width: calc(100vw - 10%);
  background: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 44px 5%;
  overflow: hidden;
}

.intro {
  display: flex;
  flex-direction: row;
  /*padding: 5vh 35vh;*/
  width: 100%;
  position: relative;
  color: white;
  padding: 7vh 0;
}

.right-align {
  padding-top: 5vh;
  text-align: right;
  margin-right: -20%;
  margin-left: 20%;
}

@media only screen and (max-width: 800px) {
  .intro {
    flex-wrap: wrap-reverse;
  }
  .right-align {
    margin-right: -10%;
  }
}

.card-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.picture-box {
  background-image: url("./assets/picture.JPG");
  height: 140px;
  width: 140px;
  background-size: contain;
  border-radius: 50%;
}

.intro-text-box {
  display: flex;
  flex-direction: column;
  width: 80vw;
  text-align: left;
}

.intro-text {

}

.intro-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.intro-text-card {
  border: 1px solid white;
  border-radius: 4px 8px;
  color: white;
  padding: 4px 8px;
  text-transform: uppercase;
  margin: 4px;
  font-size: 14px;
}

.intro-title {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 1vh;
  color: white;
}

.divider {
  width: 70%;
  height: 1px;
  background: white;
  opacity: 0.5;
}

.divider-dark {
  width: 50%;
  height: 1px;
  background: black;
  opacity: 0.3;
}

.divider-purple {
  width: 124%;
  height: 1vh;
  background: var(--secondary-color);
  /*opacity: 0.5;*/
  margin-top: -4.5vh;
  margin-left: -12%;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.react-logo {
  background-image: url("./assets/react-logo.png");
  background-size: cover;
  width: 85%;
  height: 55%;
  margin-bottom: 3%;
  margin-top: 8%;
}

.vue-logo {
  background-image: url("./assets/vue-logo.png");
  background-size: cover;
  width: 53%;
  height: 45%;
  margin-top: 14%;
  margin-bottom: 8%;
}

.pwa-logo {
  background-image: url("./assets/pwa-logo.png");
  background-size: cover;
  width: 70%;
  height: 27%;
  margin-top: 20%;
  margin-bottom: 13%;
}

.swift-logo {
  background-image: url("./assets/Swift_logo.png");
  background-size: cover;
  width: 50%;
  height: 50%;
  margin-top: 15%;
  margin-bottom: 7%;
}

.kotlin-logo {
  background-image: url("./assets/kotlin-logo.png");
  background-size: cover;
  width: 46%;
  height: 46%;
  margin-top: 16%;
  margin-bottom: 8%;
}

.padding-top {
  padding-top: 5vh;
}

.padding-bottom {
  padding-bottom: 4vh;
}

.illustrator-logo {
  background-image: url("./assets/adobe-illustrator-logo.png");
  background-size: cover;
  width: 50%;
  height: 50%;
  margin-top: 11%;
  margin-bottom: 3%;
}

.figma-logo {
  background-image: url("./assets/Figma-logo.svg");
  background-size: cover;
  width: 46%;
  height: 46%;
  margin-top: 16%;
  margin-bottom: 8%;
}

.xd-logo {
  background-image: url("./assets/adobe-xd-logo.png");
  background-size: cover;
  width: 48%;
  height: 46%;
  margin-top: 15%;
  margin-bottom: 7%;
}

.third-box {
  position: relative;
  width: calc(100vw - 10%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 44px 5%;
  overflow: hidden;
}

.third-box-title {
  font-size: 20px;
  font-weight: 400;
  padding-top: 5%;
  width: 100%;
}

.companies-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 70%;
  justify-content: center;
  padding: 5vh 0;
}

.company-logo-card {
  object-fit: contain;
  padding: 1.5vh 4vh;
  filter: grayscale(100%);
  opacity: 0.6;
  max-height: 10vh;
}

.company-logo-card:hover {
  filter: grayscale(0%);
  opacity: 1;
}

.siemens-logo {
  background-image: url("./assets/siemens-logo.png");
  background-size: cover;
}

.background-circle-1 {
  position: absolute;
  bottom: 70px;
  left: -70px;
  z-index: -1;
  background: lightyellow;
  width: 250px;
  height: 250px;
  opacity: 0.8;
  filter: blur(44px) !important;
  border-radius: 50%;
}

.background-circle-2 {
  position: absolute;
  bottom: -500px;
  left: -10px;
  z-index: -2;
  background: lightpink;
  width: 650px;
  height: 650px;
  opacity: 0.8;
  filter: blur(64px) !important;
  border-radius: 50%;
}

.background-circle-3 {
  position: absolute;
  bottom: -100px;
  left: -10px;
  z-index: -2;
  background: lightblue;
  width: 350px;
  height: 350px;
  opacity: 0.8;
  filter: blur(72px) !important;
  border-radius: 50%;
}